@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(rgba(239, 198, 155, 0.6), rgba(0, 0, 0, 1)), url('/src/assets/VA.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* This makes the background fixed */
  color: White;
}

html, body, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  width: 90%;
  height: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

thead {
  position: sticky;
  top: 0;
  background-color: #4b3d33;
  letter-spacing: 1px;
  text-transform: uppercase;
}

th, td {
  border: 1px solid #4b3d33;
  border-top: 0px;
  text-align: center;
  padding: 10px;
  border-right: none;
  border-left: none;
}

table tr {
  transition: 0.3s; /* Smooth transition for shadow effect */
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.75);
}

tbody tr:hover {
  background-color: #eaded1;
  color: black;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3); /* Inner shadow */
  text-shadow: unset;
}

.sortable-column {
  cursor: pointer;
}

.sortable-column i {
  margin-left: 5px; /* Adjust spacing as needed */
}

.actions-column {
  display: flex;
  gap: 8px; /* Adjust the spacing */
  justify-content: center;
}

.btn {
  font-family: system-ui, sans-serif;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  transform: translateY(2px); /* Slight downward movement */
}

.button { 
  background-color: #eaded1;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.button:hover {
  background-color: #dbc5a5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.button:active { /* Active state for a 'pressed' effect */
  background-color: #c4a986;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(4px); /* Moves further down on click */
}

.deleteButton {
  padding: 5px 10px;
  color: white;
  background-color: #b74e21f0;
}

.deleteButton:hover {
  background-color: darkred;
}

.editButton {
  padding: 5px 10px;
  color: white;
  background-color: #8f4fb6f0;
}

.editButton:hover {
  background-color: #573070f0;
}