@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(rgba(239, 198, 155, 0.6), rgba(0, 0, 0, 1)), url('/src/assets/VA.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* This makes the background fixed */
  color: White;
}

html, body, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: #4b3d33;
  letter-spacing: 1px;
  text-transform: uppercase;
}

th, td {
  border: 1px solid black;
  /* border-top: 0px; */
  text-align: center;
  padding: 10px;
}

table tr {
  transition: box-shadow 0.25s ease; /* Smooth transition for shadow effect */
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.75);
}

tbody tr:hover {
  background-color: #eaded1;
  color: black;
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.3); /* Inner shadow */
  text-shadow: unset;
}

.sortable-column {
  cursor: pointer;
}

.sortable-column i {
  margin-left: 5px; /* Adjust spacing as needed */
}

.button { 
  background-color: #eaded1;
  font-family: system-ui, sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #333; /* Text color */
  font-weight: bold; /* Bold text for emphasis */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

/* Hover effect to make it look like it's pressed */
.button:hover {
  background-color: #dbc5a5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transform: translateY(2px); /* Slight downward movement */
}

/* Active state for a 'pressed' effect */
.button:active {
  background-color: #c4a986;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  transform: translateY(4px); /* Moves further down on click */
}

.deleteButton {
  padding: 5px 10px;
  color: white;
  background-color: #b74e21f0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.deleteButton:hover {
  background-color: darkred;
  transform: translateY(2px); /* Slight downward movement */
}